.navbar-nav .nav-item .nav-link.active {
  color: white; /* Biały kolor tekstu dla aktywnego linku */
  background-color: #535353; /* Kolor tła dla aktywnego linku */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Cień dla lepszego wyróżnienia */
  border-radius: 5px; /* Zaokrąglenie rogów */
}
